*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(116, 4, 4), white
    );
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  

  .imagem{
    width:  800px;
   display: flex;
   height: 350px;
   border-radius:  10px;
  
  }

  .right {
    flex: 1;
    padding: 20px;
  }

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9e0000bd;
    color: #fff;
    cursor: pointer;
  }


  input[type="submit"]:hover {
    background-color: #b30000da;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    
    .right {
      flex: 1;
    }
  }